[Unit]
Description=FollowSun The GNOME theme switcher based on sunrise/sunset
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
StandardError=append:%h/.config/followsun/service.log
StandardOutput=append:%h/.config/followsun/service.log
Environment="CONFIG_DIR=%h/.config/followsun"
ExecStartPre=/bin/sh -c 'mkdir -p ${CONFIG_DIR}'
ExecStart=/home/tomas/dev/bash/followsun/followsun.sh --verbose

[Install]
WantedBy=graphical-session.target